extends layout

block content
  h1.services-title Welcome to the services page
  div.container.row.services
    h2 Services we provide:
    div.col-sm-3
      p First service
    div.col-sm-3
      p Second service
    div.col-sm-3
      p Third service
    div.col-sm-3
      p Fourth service       